{{>layout/header}}
{{>layout/nav}}

<form name="myform" id="myform" >
	<input type="hidden" name="idcheckyn" id="idcheckyn" value="N"/>
<div class="container mt-3">
  <h3>회원가입</h3>
  <p></p>
  
   <table class="table">
   	<colgroup>
   		<col width="30%">
   		<col width="*">
   	</colgroup>
    <tbody>
      <tr>
        <th>아이디</td>
        <td>
        	 <div class="input-group">
			    <input type="text" class="form-control" 
			    placeholder="아이디를 입력하세요"
			    name="user_id" id="user_id">
			    <button class="btn btn-dark" id="btnIdCheck">아이디중복체크</button>
			 </div>
        </td>
      </tr>
      <tr>
        <th>패스워드</td>
        <td>
        	 <div class="input-group">
			    <input type="password" class="form-control" 
			    placeholder="패스워드를 입력하세요"
			    name="password" id="password">
			 </div>
        </td>
      </tr>
      <tr>
        <th>패스워드확인</td>
        <td>
        	 <div class="input-group">
			    <input type="password" class="form-control" 
			    placeholder="패스워드를 입력하세요"
			    name="password2" id="password2">
			 </div>
        </td>
      </tr>
      <tr>
        <th>이름</td>
        <td>
        	 <div class="input-group">
			    <input type="text" class="form-control" 
			    placeholder="이름을 입력하세요"
			    name="user_name" id="user_name">
			 </div>
        </td>
      </tr>
      <tr>
        <th>이메일</td>
        <td>
        	 <div class="input-group">
			    <input type="email" class="form-control" 
			    placeholder="이름을 입력하세요"
			    name="email" id="email">
			 </div>
        </td>
      </tr>
      <tr>
        <th>전화번호</td>
        <td>
        	 <div class="input-group">
			    <input type="tel" class="form-control" 
			    placeholder="전화번호를 입력하세요"
			    name="phone" id="phone">
			 </div>
        </td>
      </tr>
    </tbody>
  </table>
 </div>


 <div class="container" style="text-align:right">
	<button type="button" id="btnWrite" class="btn btn-dark">등록</button>
 </div>

</form>

<script>
$(()=>{
	$("#btnWrite").click(()=>{
		$("#myform").prop("action", "/member/save");
		$("#myform").prop("method", "post");
		$("#myform").submit();
	})
	
	$("#btnIdCheck").click(()=>{
		if($("#user_id").val().trim().length<6)
			{
				alert("아이디는 6자리 이상 입력하세요");
				return false;
			}
		$.ajax({
			url:"<%=request.getContextPath()%>/member/isuse",
			data:{user_id:$("#user_id").val() },
			type:"post",
			dataType:"json"
		})
		.done((res)=>{
			alert(res.msg);
			if(res.result=="success")
			{
				$("#idcheckyn").val("Y");
				$("#user_id").prop("readonly", "true");
				$("#btnIdCheck").prop("disabled", "true");
			}
		})
		.fail((res, status, error)=>{
			console.log( error );
		})
	});
})


</script>
{{>layout/footer}}




